{% if revisions|length > 0 %}
  {% spaceless %}
    <form id="revisionsForm" method="{% block formMethod %}GET{% endblock %}">
      {% block revisionTimeline %}
      {% endblock %}
      {% block actionButton %}
      {% endblock %}
      {% block formExtras %}
      {% endblock %}
    </form>
  {% endspaceless %}
{% endif %}

{% macro renderErrorColumns(num) %}
  {% for i in 1..num %}
    <td class="error">{{ _self.renderError() }}</td>
  {% endfor %}
{% endmacro %}

{% macro renderError() %}An unexpected error occured.{% endmacro %}