{% if revisions|length > 0 %}
  <table class="fancy">
    <thead>
      <tr>
        {% block headers %}
        {% endblock %}
      </tr>
    </thead>
    <tbody>
      {% block body %}
        {% for key in revisions|length..0 %}
          {% if revisions[key] != null %}{% set revision = revisions[key] %}
            <tr{% if revision.error %} class="error"{% endif %}>
            {% block rows %}
            {% endblock rows %}
            </tr>
          {% endif %}
        {% endfor %}
      {% endblock body %}
    </tbody>
  </table>
{% endif %}

{% macro renderErrorColumns(num) %}
  {% for i in 1..num %}
    <td>An unexpected error occured.</td>
  {% endfor %}
{% endmacro %}