{% extends 'revisionData.twig' %}

{% block headers %}
  <th>Field</th>
  <th>Diff</th>
{% endblock %}

{% block rows %}
  <td>{{ key }}</td>
  {% if revisionData.error %}
    {{ _self.renderErrorColumns(1) }}
  {% else %}
    <td>{{ revisionData.makeRevisionContent(true)|raw }}</td>
  {% endif %}
{% endblock %}