{% extends 'revisionData.twig' %}
{% import 'baseTable.twig' as baseTable %}

{% block headers %}
  <th>Field</th>
  <th>Old Text</th>
  <th>New Text</th>
{% endblock %}

{% block rows %}
  <td>{{ key }}</td>
  {% if revisionData.error %}
    {{ baseTable.renderErrorColumns(2) }}
  {% else %}
    <td>{{ revisionData.revisionContent }}</td>
    <td>{{ revisionData.currentContent }}</td>
  {% endif %}
{% endblock %}